* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html {
    --lightCyan: hsl(193, 38%, 86%);
    --neonGreen: hsl(150, 100%, 66%);

    --gravishBlue: hsl(217, 19%, 38%);
    --darkGravishBlue: hsl(217, 19%, 24%);
    --darkBlue: hsl(218, 23%, 16%);
}

body {
    max-height: 1440px;
    width: 100vw;
    background-color: var(--darkBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 220px;
}




